<a href="https://colab.research.google.com/github/Ajlackey8/Free_Project/blob/main/DataOptions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
df_games = pd.read_csv('/content/Video_Games_Sales_as_at_22_Dec_2016.csv')
df_games.head()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

1.) Source is Kaggle

2.) Data is cataloging various information about videogames associated with their sales and critical scores.

3.) The target in this case would likely be sales trends in the gaming industry to help predict the next big thing$

4.) regression, predicting sales is not discrete categories, instead it is any number on a numerical sales scale

5.) after dropping Name and removing all sales but global, we would have 10 features

6.) 16719 rows

7.) this dataset has a lot of missing data in the critical and user ratings as smaller games haven't really gotten them. With reviews being I'm guessing a fairly strong indicator of quality missing a lot of them may cause problems. However, I'm guessing if you don't even have metacritic reviews your sales probably were pretty bad anyway so that might be it's own category.

In [3]:
df_heart = pd.read_csv('/content/heart.csv')
df_heart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

1.) Source is Kaggle again

2.) Data about heart attacks including diagnostic data such as chest pain or cholesterol

3.) The target is a binary 0,1 on whether or not they have/develop heart disease

4.) classification

5.) 11

6.) 917

7.) This dataset seems fairly well oriented towards our skillset in model fitting so I suspect this will be much more straight forward. Most of the categorical columns also only have 2-3 options which is fortunate.